/* https://yarduon.com */
@font-face {
  font-family: "Mano Negra";
  src: url("./../fonts/wc_mano_negra.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Reem Kufi";
  src: url("./../fonts/reem_kufi.ttf");
  font-display: swap;
}
