/* https://yarduon.com */
.bubble-container,
.bubble-text {
  z-index: 4;
}

.penguin-thinking,
.social-media {
  bottom: 0;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.credits {
  right: 0;
}

.bubble1 {
  bottom: -12vh;
  right: 10vh;
}

.bubble2 {
  bottom: -18vh;
  right: -22vh;
  z-index: 2;
}

.bubble3 {
  bottom: -15vh;
  right: -54vh;
}

.bubble4 {
  bottom: -34vh;
  right: -9vh;
}

.bubble5 {
  bottom: -45vh;
  right: -14vh;
}

.bubble-text {
  top: 2.1vh;
}
