.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.credits{
    right: 0;
}