/* https://yarduon.com */
.bubble-container,
.bubble-text {
  z-index: 4;
}

.bubble-extra1,
.bubble-extra2 {
  z-index: 3;
}

.penguin-container,
.social-media {
  bottom: 0;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.credits {
  right: 0;
}

.bubble1 {
  bottom: -7rem;
  right: 4rem;
}

.bubble2 {
  bottom: -10rem;
  right: -16rem;
  z-index: 2;
}

.bubble3 {
  bottom: -8rem;
  right: -33rem;
}

.bubble4 {
  bottom: -19.2rem;
  right: -4rem;
}

.bubble5 {
  bottom: -25rem;
  right: -8rem;
}

.bubble-extra1 {
  bottom: -6.1rem;
  right: 6rem;
}

.bubble-extra2 {
  bottom: -7.2rem;
  right: -29.3rem;
}

.bubble-text {
  top: 2.6rem;
}

.github {
  rotate: -15deg;
  margin: 14rem 35rem 0 0;
}

.linkedin {
  rotate: -8deg;
  margin: 6rem -30rem 0 0;
}

.kofi {
  rotate: -20deg;
  margin: 18rem -41rem 0 0;
}

.instagram {
  rotate: 20deg;
  margin: 22rem 43rem 0 0;
}

.facebook {
  rotate: 15deg;
  margin: 3.5rem 45rem 0 0;
}

.twitter {
  rotate: 7deg;
  margin: -3rem -2rem 0 0;
}
