/* https://yarduon.com */
@media screen and (max-width: 1300px) {
  .normal-fontsize-spec {
    font-size: 2.9vh;
  }

  @-moz-document url-prefix() {
    .normal-fontsize-spec {
      font-size: 2.7vh;
    }
  }
  .bubble-text {
    margin: 0 20% 0 25%;
  }
}

@media screen and (max-width: 1100px) {
  .huge-fontsize {
    font-size: 3.8rem;
  }

  .big-fontsize {
    font-size: 3rem;
  }

  .social {
    width: 10vh;
    height: 10vh;
  }

  .penguin-thinking {
    width: 47vh;
  }
}

@media screen and (max-width: 600px) {
  .huge-fontsize {
    font-size: 2.3rem;
  }

  .big-fontsize {
    font-size: 1.8rem;
  }

  #left-tag-symbol {
    margin-top: 0.5rem;
  }

  #right-tag-symbol {
    margin: 0.2rem 0 0 -0.1rem;
  }
}

@media screen and (max-width: 350px) {
  .hidden-z {
    display: none;
  }

  .title {
    padding-right: 1rem;
  }

  .paragraph,
  .credits {
    padding: 3% 5% 3% 5%;
  }

  .credits {
    position: static;
  }
}

/* Under construction screen */
@media screen and (max-width: 70vh) {
  .medium-circle {
    width: 10vh;
    height: 10vh;
  }

  .small-circle {
    width: 6vh;
    height: 6vh;
  }

  .bubble-container {
    height: 35vh;
    padding-right: 0;
  }

  .bubble-text {
    width: auto;
    text-align: justify;
    margin: 6vh 2vh 0 2vh;
  }

  .bubble4 {
    margin: 0 16vh 0 0;
  }

  .bubble5 {
    margin: 12vh 10vh 0 0;
  }

  .social {
    width: 6.5vh;
    height: 6.5vh;
  }

  .twitter {
    margin: -8vh -10vh 0 0;
  }

  .linkedin {
    margin: -10vh -31vh 0 0;
  }

  .kofi {
    margin: 3vh 35vh 0 0;
  }

  .facebook {
    margin: 15vh 36vh 0 0;
  }

  .github {
    margin: 1vh -23vh 0 0;
  }

  .instagram {
    margin: 9vh -32vh 0 0;
  }

  .penguin-thinking {
    width: 38vh;
  }
}
